#root {
  max-width: 1444px;
  margin: 0 auto;
  text-align: center;
}

.app_wrapper {
  display: flex;
  flex-direction: column;
}

.jars_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.jar {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 0.15rem 0.5rem 0.15rem;
  flex: 0 0 25%;
  justify-content: stretch;
}

.jar h3,
h4,
p {
  line-height: normal;
}

.jar-logo {
  border-radius: 50%;
}

.jar-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.donate_button {
  margin-bottom: 1rem;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

@media (min-width: 320px) and (max-width: 480px) {
  #root {
    flex-direction: column-reverse;
    row-gap: 1rem;
    margin: 2rem;
    max-width: 100vw;
    width: 90vw;
  }
  .jars_wrapper {
    flex-direction: column;
  }
  .home__wrapper {
    display: flex;
    padding: 1.5rem;
  }
  .home__wrapper section {
    max-width: 100vw;
  }
  .home__wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .home__wrapper .previewImg,
  .stepsImg {
    width: 20rem;
  }
}
.totalComponent h4,
h5 {
  line-height: normal;
}

.raising-info {
  display: flex;
  flex-direction: column;
}

.home__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding-top: 3rem;
}

.spoiler {
  cursor: pointer;
}

.form-item {
  display: flex;
  gap: 0 2rem;
}
